.advantages {
  background-color: $color-ghost-white;
}

.advantages__container {
  padding-top: 120px;
  padding-bottom: 120px;
  color: $color-primary;
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    padding-top: 101px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 71px;
    padding-bottom: 70px;
  }
}

.advantages__text-content h2 {
  max-width: 100%;
  margin: 0;
  margin-bottom: 50px;
  color: $color-primary;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  text-align: center;
  word-wrap: break-word;

  @include vp-1365 {
    margin-bottom: 47px;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 54px;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.advantages__text-content ul {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
  min-height: 340px;
  margin: 0;
  padding: 0 60px;
  list-style: none;

  @include vp-1365 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    row-gap: 39px;
    column-gap: 50px;
    padding: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
}

.advantages__item {
  display: flex;
  column-gap: 30px;

  @include vp-1365 {
    column-gap: 14px;
    min-height: 92px;
    padding-bottom: unset;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    row-gap: 11px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &--special {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 240px;
    min-height: 100%;
    margin: 0 auto;
    padding: 34px;
    color: $color-default-white;
    background-color: $color-resolution-blue;
    text-align: center;

    @include vp-1365 {
      align-items: center;
      row-gap: 25px;
      grid-column: 1 / span 2;
      grid-row: 2;
      width: 59%;
      min-height: 262px;
      margin-bottom: -1px;
      padding: 20px 35px;
    }

    @include vp-767 {
      justify-content: start;
      width: 100vw;
      min-width: 320px;
      min-height: 225px;
      margin: 0;
      margin-top: 6px;
      margin-bottom: 6px;
      margin-left: -15px;
      padding: 30px 70px;
      row-gap: 5px;
    }
  }
}

.advantages__item p {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  margin: 0;
  color: $color-persian-blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;

  @include vp-767 {
    line-height: 20px;
    text-align: center;
  }
}

.advantages__item > span {
  max-width: 172px;
  margin-bottom: 12px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  word-wrap: break-word;

  @include vp-767 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
  }
}

.advantages__item p span {
  max-width: 110px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  background-image: $crimson-to-blue;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word;

  @include vp-1365 {
    margin-top: 2px;
    margin-bottom: 1px;
  }

  @include vp-767 {
    margin-top: 0;
    font-size: 64px;
    line-height: 64px;
  }
}

.advantages__item--special > span {
  @include vp-1365 {
    margin-bottom: 0;
  }
}

.advantages__item--special .advantages__text {
  flex-grow: unset;
}

.advantages__text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow: 1;
  margin: 0;

  @include vp-767 {
    row-gap: 8px;
    text-align: center;
  }

  &--special {
    align-items: center;
    row-gap: 42px;

    @include vp-1365 {
      row-gap: 25px;
    }

    @include vp-767 {
      row-gap: 20px;
    }
  }
}

.advantages__text dt {
  max-width: 550px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;

  @include vp-1365 {
    max-width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 20px;
    word-break: break-all;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 20px;
    word-wrap: break-word;
  }
}

.advantages__text dd {
  max-width: 240px;
  margin-left: 0;
  word-wrap: break-word;

  @include vp-767 {
    margin-bottom: unset;
    font-size: 14px;
    line-height: 22px;
    word-break: normal;
  }
}

.advantages__text--special dt,
.advantages__text--special dd {
  max-width: 172px;

  @include vp-1365 {
    max-width: 210px;
  }
}

.advantages__text--special dt {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;

  @include vp-1365 {
    margin-bottom: unset;
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.advantages__text--special dd {
  font-weight: 400;
}

.advantages__item:nth-child(5n+4),
.advantages__item:nth-child(5n+5) {
  min-height: 148px;
  border-top: 2px solid rgba(209, 10, 66, 0.2);
  padding-bottom: 20px;

  @include vp-1365 {
    padding-top: unset;
    padding-bottom: unset;
    border-top: unset;
  }
}

.advantages__item:nth-child(5n+4) p,
.advantages__item:nth-child(5n+5) p {
  justify-content: end;

  @include vp-1365 {
    justify-content: start;
  }
}

.advantages__item:nth-child(5n+4) .advantages__text,
.advantages__item:nth-child(5n+5) .advantages__text {
  padding-top: 60px;

  @include vp-1365 {
    padding-top: 0;
  }
}
