.tabs {
  display: flex;
  gap: 40px;

  @include vp-1365 {
    flex-direction: column;
  }
}

.tabs__controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 260px;

  @include vp-1365 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-767 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.tabs__control {
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 17px 48px;
  min-height: 54px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  font-family: $ff-roboto-condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  @include hover-focus {
    outline: none;
    border-color: $color-primary;
  }

  &:disabled {
    color: #c8c9cc;
  }

  @include vp-1365 {
    width: auto;
    min-width: 162px;
  }

  @include vp-767 {
    min-width: 141px;
    font-size: 16px;
    line-height: 16px;
  }
}

.tabs__control.is-active {
  padding: 18px 48px;
  color: $color-default-white;
  background-image: $gradient-primary;
  border: unset;

  @include hover-focus {
    color: $color-default-white;
  }
}

.tabs__control span {
  max-width: 120px;
  word-wrap: break-word;

  @include vp-1365 {
    max-width: 100px;
  }

  @include vp-767 {
    max-width: 80px;
  }
}

.tabs__content {
  flex-grow: 1;
}

.tabs__element {
  width: 100%;
}
